[submodule "isl"]
	path = isl
	url = https://github.com/ebi-gene-expression-group/isl
	branch = develop_codon

[submodule "atlas-analysis"]
        path = atlas-analysis
        url = https://github.com/ebi-gene-expression-group/atlas-analysis
        branch = develop

