[submodule "isl"]
	path = isl
	url = https://github.com/ebi-gene-expression-group/isl.git
	branch = develop_codon

[submodule "atlas-analysis"]
	path = atlas-analysis
	url = https://github.com/ebi-gene-expression-group/atlas-analysis.git
        branch = develop

[submodule "atlas-bash-util"]
	path = atlas-bash-util
	url = https://github.com/ebi-gene-expression-group/atlas-bash-util.git
        branch = develop

[submodule "proteomics-import"]
	path = proteomics-import
	url = https://github.com/ebi-gene-expression-group/proteomics-import.git
        branch = develop